.tw-debug {
  border-radius: 0.25rem;
  overflow-x: auto;
  margin: 0;
  padding: 10px;
  font-family: var(
    --font-mono,
    ui-monospace,
    "JetBrains Mono",
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace
  );
  font-size: 0.8rem;
  line-height: 1.4;
  background-color: hsl(0, 0%, 13%);
}

.tw-debug div {
  padding-top: 0;
  padding-bottom: 0;
}

.tw-debug .tw-debug {
  border-radius: 0;
  overflow-x: initial;
}

.tw-debug .indent {
  margin: 0;
  padding: 10px;
  font-size: 0.8rem;
  line-height: 1.4;
  background-color: hsl(0, 0%, 13%);
}

.tw-debug .array > .value,
.tw-debug .object > .value {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.tw-debug .key {
  color: hsl(300, 60%, 65%);
  user-select: none;
}

.tw-debug .string > .value {
  color: hsl(15, 100%, 70%);
}

.tw-debug .boolean > .value,
.tw-debug .number > .value {
  color: hsl(250, 70%, 65%);
}

.tw-debug .null > .value,
.tw-debug .undefined > .value {
  color: hsl(0, 0%, 40%);
}

.tw-debug .separator {
  cursor: pointer;
  font-size: 0.8rem;
  user-select: none;
  color: hsl(0, 0%, 80%);
}

.tw-debug .indicator {
  cursor: pointer;
  font-size: 0.8rem;
  padding-right: 0.3rem;
  user-select: none;
  vertical-align: text-bottom;
  color: hsl(0, 0%, 50%);
}

.tw-debug .array,
.tw-debug .object {
  position: relative;
}

.tw-debug .array > .key,
.tw-debug .object > .key {
  cursor: pointer;
}

.tw-debug .value > .array > .indicator,
.tw-debug .value > .object > .indicator {
  margin-left: -1em;
}

.tw-debug .count,
.tw-debug .preview,
.tw-debug .quotes {
  cursor: pointer;
  font-size: 0.8rem;
  user-select: none;
  color: hsl(0, 0%, 80%);
}
