@require "~twindy"

tw-app()

// body
// background -red-200
#app
    height 100%
    background -red-100
    use stack-x center

.prose
    use prose

@import "../styles/button.styl"
@import "../styles/modal.styl"
@import "../styles/switch.styl"
@import "../styles/checkbox.styl"
